
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Johns Creek SMF/MOWR</h1>
    <p>Select a Section to Display</p>
</div>
<div class="text-center">
    <form asp-action="Home">
        @{
            List<Section> classes = (List<Section>)ViewData["classes"];
            foreach (Section section in classes)
            {
                String s = section.Period + ": " + section.CourseName;
                int id = section.Id;

                <input type="submit" value="@s" class="btn btn-dark" align="center" formaction="/Home/Index/@id" />

            }
        }

    </form>
    <p>Message from Tracer: @ViewData["tracer"]</p>
</div>
